/* Sane Defaults */
* {
    box-sizing: border-box;
    border-collapse: collapse;
    margin: 0px;
}

div {
    padding: 2vw 0px;
}

/* Unified text size */

h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 10vw;
}


h1.smaller {
    font-size: 5vw;
}

h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 5vw;
    text-align: center;
}

h3 {
    font-family: 'Roboto Mono', monospace;
    font-size: 4vw;
    text-align: left;
}

a {
    font-family: 'Roboto Mono', monospace;
    font-size: 2vw;
    text-align: left;
}

a.smaller {
    font-size: 1vw;
}

p {
    font-size: 1vw;
    font-family: 'Roboto';
    text-align: left;
}

.vStack {
    display: flex;
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

.align-center {
    align-items: center;
}

.align-self-stretch {
    align-self: stretch;
}

.gap-2 {
    gap: 2vw;
}

.p-0 {
    padding: 0;
}

.xp-15 {
    padding-left: 15vw;
    padding-right: 15vw;
}

.hStack {
    display: flex;
    flex-direction: row;
}

.height-25 {
    height: 25vw;
}

.square {
    aspect-ratio: 1/1;
}

.circle {
    border-radius: 50%;
}

/* EVIL!! */

Spacer {
    flex-grow: 1;
}

@media (max-width: 800px) {
    div {
        padding: 5vw 0px;
    }

    h1 {
        font-size: 12vw;
    }

    h1.smaller {
        font-size: 5vw;
    }

    h2 {
        font-size: 8vw;
    }

    h3 {
        font-size: 7vw;
    }

    a {
        font-size: 5vw;
    }

    p, a.smaller {
        font-size: 4vw;
    }

    .mobile-vStack {
        display: flex;
        flex-direction: column;
    }

    .mobile-xp-9 {
        padding-left: 9vw;
        padding-right: 9vw;
    }

    .mobile-height-40 {
        height: 40vw;
    }

    .mobile-height-4 {
        height: 4vw;
    }
}

@media (min-width: 801px) {
    .desktop-p-0 {
        padding: 0;
    }
}