footer {
    margin-top: -3vw;

    height: min-content;

    padding-left: 50vw;
    padding-right: 1vw;

    display: grid;
    grid: 4fr 2fr 1fr / 1fr;

    clip-path: inset( -100vw -100vw 0 -100vw );
}

footer > div {
    display: flex;
    flex-direction: row-reverse;
    padding: 0;
}

footer > div > h2 {
    text-align: right;
}

footer > div:nth-child(2) > * {
    margin-left: 1vw;
    margin-bottom: auto;
}

footer > div > a {
    text-decoration: none;

    color: black;
    transition: 300ms;
}

footer > div > a:hover {
    background-color: black;
    color: white;

    cursor: pointer;
}

footer > div:nth-child(3) {
    align-items: baseline;

    gap: 2em;
}

footer > div > p {
    grid-area: end;
    text-align: right;
}

footer.slash::before {
    transform-origin: 100% 0;
}

nav {
    position: sticky;
    top: 0;
    z-index: 10;

    background-color: white;
    
    vertical-align: baseline;

    display: flex;
}

nav > div {
    padding: 0;
    flex-grow: 1;
}

nav > a {
    margin-left: 2vw;
    margin-right: 10px;

    transition: 300ms;

    text-decoration: none;
    color: black;
}

nav > a:hover {
    background-color: black;
    color: white;

    cursor: pointer;
}

nav > a.leftSide {
    margin-left: 10px;
}

header {
    padding: 6vw 1vw;
}

header > p {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 3vw;

    margin-top: -1vw;
}