.slash {
    position: relative;
}

.slash > div {
    position: relative;
    z-index: 1;
}

.slash::before {
    content: "";

    background-color: #cccccc;

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: skewY(-6deg);
    transform-origin: 50% 0;
}

div.squircle {
    border-radius: 10px;
}

div.boxContainer {
    display: grid;
    grid: 1fr / 1fr 1fr;
    gap: 5vw;

    padding: 1.5vw 5vw;
    padding-bottom: 4vw; /* This probably shouldn't exist, but smh */
}

div.box {
    border-radius: 15px;
    background-color: white;
    box-shadow: -15px 15px 0 #000;
}

div.box > h3 {
    padding-left: 1vw;
}

div.box.gray {
    background-color: #ddd;
}

div.spacer {
    height: 1px;
    margin: 1vw 10%;
    padding: 0;

    background-color: #555;
}