.slash {
    position: relative;
}

.slash > div {
    position: relative;
    z-index: 1;
}

.slash::before {
    content: "";

    background-color: #cccccc;

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: skewY(-6deg);
    transform-origin: 50% 0;
}

.noMono {
    font-family: 'Roboto' !important;
}

.iconTitleText {
    display: grid;
    grid: "a b" 3vw
          "end end" 1fr / 3vw 1fr;

    padding: 0;
    gap: 1vw;
}

.iconTitleText > img {
    display: block;
    margin: auto;
    /* this is slightly larger than 3 because i think it looks nice deal with it */
    height: 3.25vw;
}

.iconTitleText > h3 {
    line-height: 0.75;
}

.iconTitleText > p {
    grid-area: end;
}

.squircle {
    border-radius: 15px;
}

div.boxContainer {
    display: grid;
    grid: 1fr / 1fr 1fr;
    gap: 5vw;

    padding: 1.5vw 5vw;
    padding-bottom: 4vw; /* This probably shouldn't exist, but smh */
}

div.box {
    padding: 1.5vw;

    border-radius: 15px;
    background-color: white;
    box-shadow: -15px 15px 0 #000;
}

div.box.gray {
    background-color: #ddd;
}

div.divider {
    height: 1px;
    margin: 1vw 10%;
    padding: 0;

    background-color: #555;
}

/* Custom UI element styling*/

a.buttonLink {
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
    color: #000;

    display: block;
    margin: 0 auto;
    width: fit-content;

    padding: 0.5vw;

    background-color: #fff;

    cursor: pointer;

    transition: all 200ms;

    border-radius: 10px;
    box-shadow: -10px 10px black;
}

a.buttonLink.gray {
    background-color: #ccc;
}

a.buttonLink:hover {
    background-color: #eee;
    box-shadow: -5px 5px black;
}

/* FOR REFERENCE:

9vw horizontal padding for wide elements
25vw for slimmer ones

1.5vw vertical on most divs

1.5vw padding for most things in boxes

*/

@media (max-width: 800px) {
    a.buttonLink {
        box-shadow: -5px 5px black;
    }

    div.box {
        padding: 3vw;
    }

    .iconTitleText {
        grid: "a b" 6vw
              "end end" 1fr / 6vw 1fr;
    
        gap: 1vw;
    }

    .iconTitleText > img {
        display: block;
        margin: auto;
        /* this is slightly larger than 7 because i think it looks nice deal with it */
        height: 6vw;
    }

    div.boxContainer {
        grid: min-content min-content / 1fr;

        padding: 5vw 9vw;
    }
}