div.specialties {
    padding: 1.5vw 9vw;

    display: grid;
    grid: "a b" min-content 
          "bottom bottom" min-content / 1fr 1fr ;
    gap: 2vw;
}

div.specialties > div.bottom {
    grid-area: bottom;
}

div.specialties > div {
    display: grid;
    grid: "a b" 3vw
          "end end" 1fr / 3vw 1fr;

    padding: 1.5vw;
    gap: 1vw;
    
    border-radius: 15px;
    background-color: white;
    box-shadow: -15px 15px 0 #000;
    
}

div.specialties > div > img {
    display: block;
    margin: auto;
    /* this is slightly larger than 3 because i think it looks nice deal with it */
    height: 3.25vw;
}

div.specialties > div > h3 {
    line-height: 0.75;
}

div.specialties > div > p {
    grid-area: end;
}

div.hardware {
    padding: 0;

    display: grid;
    grid: 1fr 1fr / 1fr;
}

div.hardware > div {
    padding: 0 1vw;
    display: grid;
    grid: "a b" 5vw
          "c c" 1fr / 6vw 1fr;
}

div.hardware > div > p {
    grid-area: c;
}

div.hardware > div > img {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    height: 3.5vw;
}

div.otherSkills {
    display: grid;
    grid: repeat(2, 1fr) / repeat(4, 1fr);
}

div.otherSkills > div, div.otherSkills > div > p {
    text-align: center;
}

div.otherSkills > div > img {
    height: 7vw;
}