/* Sane Defaults */
* {
    box-sizing: border-box;
    border-collapse: collapse;
    margin: 0px;
}

/* Dialogs should always be centered, because why aren't they? */
dialog {
    right: 10vw;
    left: 10vw;
    bottom: 0;
    top: 0;
    margin: auto;
}

dialog::backdrop {
    background: black;
    opacity: 0.7;
}

div {
    padding: 2vw 0px;
}

/* Unified text size */

h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 7vw;
}


h1.smaller {
    font-size: 4vw;
}

h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 5vw;
    text-align: center;
}

h3 {
    font-family: 'Roboto Mono', monospace;
    font-size: 3vw;
    text-align: left;
}

a {
    font-family: 'Roboto Mono', monospace;
    font-size: 2vw;
    text-align: left;
}

a.smaller {
    font-size: 1.2vw;
}

p {
    font-size: 1.2vw;
    font-family: 'Roboto';
    text-align: left;
}

img {
    object-fit: cover;
    object-position: top;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.vStack {
    display: flex;
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

.align-center {
    align-items: center;
}

.align-self-stretch {
    align-self: stretch;
}

.gap-2 {
    gap: 2vw;
}

.p-0 {
    padding: 0;
}

.xp-15 {
    padding-left: 15vw;
    padding-right: 15vw;
}

.hStack {
    display: flex;
    flex-direction: row;
}

.grid-2-wide {
    display: grid;
    grid: 1fr / 1fr 1fr;
}

.height-25 {
    height: 25vw;
}

.square {
    aspect-ratio: 1/1;
}

.circle {
    border-radius: 50%;
}

.truncated-1 {
    height: 1.25em;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.disabled {
    cursor: not-allowed;
}

/* EVIL!! */

Spacer {
    flex-grow: 1;
}

@media (max-width: 800px) {
    div {
        padding: 5vw 0px;
    }

    h1 {
        font-size: 12vw;
    }

    h1.smaller {
        font-size: 5vw;
    }

    h2 {
        font-size: 8vw;
    }

    h3 {
        font-size: 6vw;
    }

    a {
        font-size: 5vw;
    }

    p, a.smaller {
        font-size: 3.75vw;
    }

    .mobile-vStack {
        display: flex;
        flex-direction: column;
    }

    .mobile-xp-9 {
        padding-left: 9vw;
        padding-right: 9vw;
    }

    .mobile-height-4 {
        height: 4vw;
    }

    .mobile-height-50 {
        height: 50vw;
    }
}

@media (min-width: 801px) {
    .desktop-p-0 {
        padding: 0;
    }
}