svg {
    height: 100%;
    aspect-ratio: 1/1;
}

.slash {
    position: relative;
}

.slash > div {
    position: relative;
    z-index: 1;
}

.slash::before {
    content: "";

    background-color: #cccccc;

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: skewY(-4deg);
    transform-origin: 50% 0;
}

.slash.white::before {
    background-color: #ffffff;
}

.noMono {
    font-family: 'Roboto' !important;
}

.iconTitleText {
    display: grid;
    grid: "a b" 3rem
          "end end" 1fr / 3rem 1fr;

    padding: 0;
    gap: 1rem;
}

.iconTitleText > img {
    display: block;
    margin: auto;
    /* this is slightly larger than 3 because i think it looks nice deal with it */
    height: 3rem;
}

.iconTitleText > h3 {
    line-height: 1;
}

.iconTitleText > p {
    grid-area: end;
}

.squircle {
    border-radius: 15px;
}

.content-width {
    width: 70rem;
    margin: 0 auto;
}

div.box {
    padding: 1vw;

    border-radius: 15px;
    background-color: white;

    /* This is set because of the line truncation in Projects/More Projects */
    overflow: hidden;
}

div.box.gray {
    background-color: #ddd;
}

div.divider {
    height: 1px;
    margin: 1vw 10%;
    padding: 0;

    background-color: #555;
}

div.multiButtonContainer {
    display: flex;
    gap: 20px;
    justify-content: center;

    & > .buttonLink {
        margin: 0px;
    }
}

/* Custom UI element styling*/

.colorUnderline {
    position: relative;
}

.colorUnderline::after {
  content: "";
  position: absolute;
  bottom: .05em;
  left: 0;
  height: 0.1em;
  width: 100%;
  background: #444;
  background: linear-gradient(90deg,rgba(0, 132, 194, 1) 0%, rgba(0, 199, 83, 1) 100%);
  z-index: -1;
}

a.buttonLink {
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
    color: #000;

    display: block;
    margin: 0 auto;
    width: fit-content;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0px 0px 15px -5px;

    position: relative;
    cursor: pointer;

    transition: all 200ms;
}

a.buttonLink::before, .divLink::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: -2;
    border-radius: 10px;
}

a.buttonLink::after, .divLink::after {
    transition: all 200ms;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 100%;
    background: linear-gradient(90deg,rgba(0, 132, 194, 1) 0%, rgba(0, 199, 83, 1) 100%);
    z-index: -1;
    border-radius: 10px;
    opacity: 0;
}

a.buttonLink.gray::before, .divLink.gray::before {
    background-color: #ccc;
}

a.buttonLink:hover, .divLink:hover {
    box-shadow: 0px 0px 20px -1px;
}

a.buttonLink:hover::after, .divLink:hover::after {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 1;
}

.divLink {
    cursor: pointer;

    transition: all 200ms;

    border-radius: 10px;
    position: relative;
    box-shadow: 0px 0px 15px -5px;
}

.divLink.gray {
    background-color: #ccc;
}

.small.divLink {
    border-radius: 15px;
}

.divLink:hover {
    background-color: #eee;
}

.small.divLink:hover { }

@media (max-width: 996px) {
    .content-width {
        width: 90vw;
        margin: 0 auto;
    }

    .iconTitleText {
        grid: "a b" 6vw
              "end end" 1fr / 6vw 1fr;
    }

    .iconTitleText > img {
        display: block;
        margin: auto;
    }

}