div.project {
    height: 20vw;
    width: 70vw;

    margin: 0vw 5vw;
    padding: 0px;

    display: grid;
    grid: 1fr / 1fr 20vw;

    background-color: #fff;

    color: black;

    box-shadow: -15px 15px 0 #000;
}

div.project > img {
    border-radius: 10px;
    height: 20vw;
    display: block;
}

div.project > div {
    padding: 5%;
}

div.hardware {
    padding: 1.5vw 9vw;

    display: grid;
    grid: 1fr /  1fr 1fr;
}

div.hardware > div {
    padding: 0 1vw;
    display: grid;
    grid: "a b" 5vw
          "c c" 1fr / 6vw 1fr;
}

div.hardware > div > p {
    grid-area: c;
}

div.hardware > div > img {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    height: 3.5vw;
}

div.horizontalScrollContainer {
    padding: 0;
    overflow-x: hidden;
}

div.projectScrollContainer > div {
    width: 275vw;
    margin-left: -70vw;

    display: grid;
    grid: 23vw / 80vw 80vw 80vw;

    transition: margin-left 1s ease-in-out;
}

div.infiniteScrollContainer > div {
    width: 240vw;

    position: relative;
    display: flex;

    animation: slide infinite 20s linear;
}

div.infiniteScrollContainer > div > img {
    width: 10vw;
    height: 10vw;
    margin: 1vw;

    border-radius: 10px;

    box-shadow: -10px 10px black;

    display: block;
}

@keyframes slide {
    0% {
        left: 0
    }

    100% {
        left: -120vw;
    }
}

/* FOR JAVASCRIPT */

div.projectScrollContainer.slideTo0 > div {
    margin-left: 10vw;
}

div.projectScrollContainer.slideTo1 > div {
    margin-left: -70vw;
}

div.projectScrollContainer.slideTo2 > div {
    margin-left: -150vw;
}
