div.project {
    height: 100%;
    width: 70vw;

    margin: 0vw 5vw;
    padding: 0px;

    display: grid;
    grid: 1fr / 1fr 20vw;

    background-color: #fff;
    overflow: hidden;

    color: black;
}

switch {
    opacity: 1;

    transition: all 200ms;
}

switch.invisible {
    opacity: 0;
}

div.project > div > img {
    border-radius: 10px;
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

div.project > div {
    display: flex;
    flex-direction: column;
    position: relative;

    padding: 1vw;
}

div.imageCaption {
    display: flex;
    gap: 2vw;
    align-items: center;
}

div.imageCaption > p {
    flex: 1;

    padding: 1.5vw;

    border-radius: 15px;
    background-color: #fff;
}

div.imageCaption > div {
    padding: 0;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;

    position: relative;
    overflow: hidden;
}

div.imageCaption > div > img {
    width: 100%;
    height: 100%;
}

div.imageCaption > div > div {
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    padding: 0 5px;
    align-items: center;

    transition: all 400ms;

    /* EVIL CHROMIUM AMPERSAND HACK!!! FIX YO STUFF GOOGLE! https://bugs.chromium.org/p/chromium/issues/detail?id=1427259 */
    & p {
        transition: all 400ms;
        text-align: center;
        color: transparent;
    }
}

div.imageCaption > div > div:hover {
    background-color: #00000090;
    /* ditto. */
    & p {
        color: #fff;
    }
}

div.horizontalScrollContainer {
    padding: 0;
    overflow-x: hidden;
}

div.projectScrollContainer {
    position: relative;
}

div.projectScrollContainer > div:first-child {
    width: 275vw;
    margin-left: -70vw;

    display: grid;
    grid: min-content / 80vw 80vw 80vw;

    transition: margin-left 1s ease-in-out;
}

div.projectScrollContainer > div:nth-child(2) {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1vw;
    right: 1vw;

    display: flex;
    align-items: center;
    justify-content: space-between;

    pointer-events: none;
}

div.projectScrollContainer > div:nth-child(2) > button {   
    pointer-events: auto;

    background-color: #ccc;

    width: 3vw;
    aspect-ratio: 1/1;
    border-radius: 50%;

    border: 1px solid #000;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

div.infiniteScrollContainer {
    overflow-x: hidden;
}

/* nested divs here is EVIL!!!!!! */
/* This is because margin is calcualted as % of parent instead of self, so we need a parent with exactly the same size. bleh. */

div.infiniteScrollContainer > div {
    width: fit-content;
    position: relative;
}

div.infiniteScrollContainer > div > div:first-child {
    display: grid;
    grid: min-content / auto-flow;

    width: fit-content;

    padding: 0;

    animation: slide infinite 20s linear;
}

div.infiniteScrollContainer > div > div > * {
    vertical-align: middle;

    margin: 2rem;

    white-space: nowrap;
    position: relative;
} 

div.infiniteScrollContainer > div > div:nth-child(2) {
    position: absolute;

    top: 1vw;
    left: 0;
    right: 0;

    padding: 0;

    display: grid;

    grid: min-content / auto-flow;

    width: fit-content;

    animation: slideCover infinite 20s linear;
}

@keyframes slide {
    0% {
        margin-left: 0
    }

    100% {
        margin-left: -100%;
    }
}

@keyframes slideCover {
    0% {
        margin-left: 100%;
    }

    100% {
        margin-left: 0%;
    }
}

/* FOR JAVASCRIPT */

div.projectScrollContainer.slideTo0 > div:first-child {
    margin-left: 10vw;
}

div.projectScrollContainer.slideTo1 > div:first-child {
    margin-left: -70vw;
}

div.projectScrollContainer.slideTo2 > div:first-child {
    margin-left: -150vw;
}

@media (max-width: 800px) {
    div.project {
        height: 100%;
        width: 70vw;

        display: grid;
        grid: 1fr 40vw / 1fr;

        box-shadow: -10px 10px black;
    }

    div.project > img {
        height: 40vw;
        width: 70vw;
    }

    div.projectScrollContainer > div:nth-child(2) > button {   
        width: 10vw;
    }
}